export OPENCLAW_GATEWAY_TOKEN="{{ onepasswordRead "op://Personal/ppk7whyfveayfwwss55oob5rx4/password" }}"
export ZEED_TELEMETRY_READ_TOKEN="{{ onepasswordRead "op://Personal/Zeed Telemetry Read Token/credential" }}"
