# macOS??????????Homebrew?
# ??????????????????

# ?????
brew "git"
brew "git-delta"
brew "zsh"
brew "tmux"
brew "neovim"
brew "vim"

# ?????
brew "docker"
brew "docker-compose"
brew "mise"
brew "sheldon"
brew "fzf"
brew "ghq"
brew "github-cli"
brew "lazygit"
brew "lazydocker"
brew "atuin"
brew "eza"
brew "btop"
brew "starship"

# ???
brew "neofetch"

# Cask?GUI?????????
cask "brave-browser"
cask "cursor"
cask "slack"

# ????
tap "homebrew/cask-fonts"
cask "font-apple-color-emoji"
