{{- if eq .chezmoi.os "darwin" -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host am5-itx
  User tsuyoshi
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else -}}
Host mac mbp14-m1pro zeed-mac tsuyoshis-macbook-pro
  HostName mbp14-m1pro
  User tsuyoshi.nagamine
  IdentityFile ~/.ssh/id_ed25519.pub
  IdentitiesOnly yes
  ServerAliveInterval 60

Host *
  IdentityAgent ~/.1password/agent.sock
{{- end }}
