[Desktop Entry]
Version=1.0
Name=Zeed
GenericName=Web Browser
Comment=Access the Internet
StartupNotify=true
StartupWMClass=zeed-browser
TryExec=/home/tsuyoshi/ghq/github.com/efg-technologies/zeed-browser/src/out/Production/zeed
Exec=/home/tsuyoshi/ghq/github.com/efg-technologies/zeed-browser/src/out/Production/zeed --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-wayland-ime --password-store=basic --disable-background-mode --pwa-flags-conf-debug=1 %U
Terminal=false
Icon=zeed-desktop
Type=Application
Categories=Network;WebBrowser;
# ▼ ここが重要：MimeTypeを上のセクションに移動済み
MimeType=x-scheme-handler/mailto;application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;

Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/home/tsuyoshi/ghq/github.com/efg-technologies/zeed-browser/src/out/Production/zeed --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-wayland-ime --password-store=basic --disable-background-mode --pwa-flags-conf-debug=1

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/home/tsuyoshi/ghq/github.com/efg-technologies/zeed-browser/src/out/Production/zeed --enable-features=UseOzonePlatform --ozone-platform=wayland --gtk-version=4 --enable-wayland-ime --password-store=basic --disable-background-mode --pwa-flags-conf-debug=1 --incognito
