#!/bin/bash
gsettings set org.gnome.desktop.interface color-scheme "prefer-light"
gsettings set org.gnome.desktop.interface gtk-theme "{{ .theme.gtk_theme.light }}"
gsettings set org.gnome.desktop.interface icon-theme "{{ .theme.gtk_theme.icon_light }}"
