# `sheldon` configuration file
# ----------------------------

shell = "zsh"

# [plugins] テーブルの開始

# 1. zsh-completions
# 補完機能は他のプラグインよりも前に読み込むのが一般的です
[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

# 2. zsh-autosuggestions
[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"

# 3. Oh-My-Zsh Git plugin
# 単一ファイルを取得する場合は remote を使い、"Raw" URLを指定します
[plugins.omz-git]
remote = "https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/plugins/git/git.plugin.zsh"

# 4. zsh-syntax-highlighting
# ハイライト機能は、設定の不整合を防ぐため最後に読み込むのが推奨されます
[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
