# Font Settings
font-family = "{{ .theme.fonts.terminal }}"
font-size = 12
font-feature = -liga
font-feature = -calt
theme = Hybrid

# Hyprland Optimization (Minimal & Clean)
window-decoration = false
gtk-titlebar = false
gtk-tabs-location = hidden

# Performance & Aesthetics
confirm-close-surface = false
background-opacity = 0.99
mouse-hide-while-typing = true
