[Unit]
Description=Custom XKB Layout
After=default.target fcitx5.service
PartOf=default.target
# fcitx5.serviceの後に起動するように明示的に指定
Requires=fcitx5.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=/home/tsuyoshi/.local/bin/apply-custom-xkb.sh
Restart=no

[Install]
WantedBy=default.target