[Unit]
Description=Fusuma Multitouch Gesture Daemon
Before=keyd.service
Documentation=https://github.com/iberianpig/fusuma

[Service]
Type=simple
ExecStart=/usr/local/bin/fusuma
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/tsuyoshi/.Xauthority

[Install]
WantedBy=default.target 