[Unit]
Description=Fusuma multitouch gesture recognizer
Documentation=https://github.com/iberianpig/fusuma

[Service]
ExecStart=/usr/local/bin/fusuma
Restart=always
RestartSec=3

[Install]
WantedBy=default.target 