[Unit]
Description=Monitor XKB custom layout service
Documentation=https://github.com/tsuyoshi/dotfiles

[Service]
Type=oneshot
ExecStart=/home/tsuyoshi/.local/bin/monitor-xkb.sh
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/tsuyoshi/.Xauthority

[Install]
WantedBy=default.target 