#!/bin/bash
gsettings set org.gnome.desktop.interface color-scheme "prefer-dark"
gsettings set org.gnome.desktop.interface gtk-theme "{{ .theme.gtk_theme.dark }}"
gsettings set org.gnome.desktop.interface icon-theme "{{ .theme.gtk_theme.icon_dark }}"
